{% extends 'intern_base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>All Jobs</title>{% endblock %}

</head>

<body>
{% block breadcrumb_items %}
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
          <li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">All Jobs</li>
        </ol>
      </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">All Jobs</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="title">Title</th>
                                <th scope="col" class="sort" data-sort="salary">Salary</th>
                                <th scope="col" class="sort" data-sort="location">Location</th>
                                <th scope="col" class="sort" data-sort="company">Company</th>
                                <th scope="col" class="sort" data-sort="match">Match your profile</th>
                                <th scope="col" class="sort" data-sort="link">Link to Apply</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for lang, jobs in jobs_by_languages.items %}
                                {% for job in jobs %}
                                    <tr>
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                                <span class="name mb-0 text-sm"><a href="{{ job.url }}"
                                                                                                   target="_blank">
                                                                    {{ job.title }}</a>
                                                                </span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="budget">
                                            {{ job.salary }}
                                        </td>
                                        <td>
                                            {{ job.location }}
                                        </td>
                                        <td>
                                            {{ job.company }}
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="completion mr-2">60%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-warning" role="progressbar"
                                                             aria-valuenow="60" aria-valuemin="0"
                                                             aria-valuemax="100"
                                                             style="width: 60%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-lg-6 col-5 text-right">
                                                <a href="{{ job.link_apply }}" class="btn btn-sm btn-neutral"
                                                   target="_blank">Go</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="fas fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</body>

{% block script %}
    {{ block.super }}
{% endblock %}
</html>