{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>

    <title>{% block head_title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/vendor/nucleo/css/nucleo.css" %}" type="text/css">
    <link href="{% static "/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/css/argon.css?v=1.2.0" %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>
    {% include "includes/sidenav.html" %}

    <div class="main-content" id="panel">

        {% include "includes/topnav.html" %}
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-center py-4">
                        <div class="col-lg-6 col-7">
                            {% block breadcrumb_items %}
                            {% endblock %}
                        </div>
                        <div class="col-lg-6 col-5 text-right">
                            <a href="#" class="btn btn-sm btn-neutral">Reload</a>
                        </div>
                    </div>

                    {% block breadcrumb_content %}

                    {% endblock %}

                </div>
            </div>
        </div>

        {% block content %}

        {% endblock %}

    </div>


      <script src="{% static "assets/vendor/jquery/dist/jquery.min.js" %}"></script>
      <script src="{% static "assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
      <script src="{% static "assets/vendor/js-cookie/js.cookie.js" %}"></script>
      <script src="{% static "assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js" %}"></script>
      <script src="{% static "assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js" %}"></script>
      <script src="{% static "assets/vendor/chart.js/dist/Chart.min.js" %}"></script>
      <script src="{% static "assets/vendor/chart.js/dist/Chart.extension.js" %}"></script>
      <script src="{% static "assets/js/argon.js?v=1.2.0" %}"></script>

  </body>
</html>
