{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
      <link rel="stylesheet" href="{% static "assets/vendor/nucleo/css/nucleo.css" %}" type="text/css">
      <link rel="stylesheet" href="{% static "assets/vendor/@fortawesome/fontawesome-free/css/all.css" %}" type="text/css">
      <link rel="stylesheet" href="{% static "assets/css/argon.css?v=1.2.0" %}" type="text/css">

  </head>
  <body class="bg-default">
    {% block body %}


    {% block content %}
    {% endblock %}

    {% endblock %}

    {% block extra_body %}


    {% endblock %}

        <!-- Core -->
      <script src="{% static "assets/vendor/jquery/dist/jquery.mim.js" %}"></script>
      <script src="{% static "assets/vendor/bootstrap/dist/js/bootstrap.bundle.mim.js" %}"></script>
      <script src="{% static "assets/vendor/js-cookie/js.cookie.js" %}"></script>
      <script src="{% static "assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js" %}"></script>
      <script src="{% static "assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js" %}"></script>
      <!-- Argon JS -->
      <script src="{% static "assets/js/argon.js?v=1.2.0" %}"></script>
  </body>
</html>
