{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Início</title>{% endblock %}
</head>

<body>
  {% block content %}
  <h1>Dashboard</h1>
  <h2>Bem vindo, {{user.username}}</h2>

  <p>Suas Top Linguagens</p>

  <ul>
    {% for language, number in top_languages %}
      <li>{{language}} - {{number}}</li>
    {% endfor %}
  </ul>
  {% endblock %}

  <a href="{% url 'account_logout' %}">Sair</a>
</body>

{% block script %}
{{block.super}}
{% endblock %}
</html>